* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  width: 100%;
  height: fit-content;
}

:root {
  --primary-color: #2091fa;
  --secondary-color: #ff5733;
  --light-color: #f4f4f4;
  --dark-color: #222;
  --text-color: #555;
  --border-color: #ddd;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
  font-weight: 600;
}

p {
  color: var(--text-color);
  line-height: 1.8;
  font-size: 16px;
}

.primaryBtn {
  display: inline-block;
  background-color: var(--primary-color) !important;
  color: var(--light-color) !important;
  padding: 10px 25px;
  border-radius: 30px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.secondaryBtn {
  display: inline-block !important;
  background-color: var(--secondary-color) !important;
  color: var(--light-color) !important;
  padding: 10px 25px;
  border-radius: 30px;
  font-weight: 500;
  transition: all 0.3s ease;
}